<div class="container">
  <h1>{{title}}</h1> <!--Interpole -->
  <p>{{version}}</p>
  <hr /><br>

  <!--Formulaire-->
  <!--<form>-->
  <div class="row">
    <div class="col form-group">
      <input [(ngModel)]="object.reference" name="reference" type="text" class="form-control" id="ref" placeholder="Entrée réf">
    </div>
    <div class="col form-group">
      <input [(ngModel)]="object.name"  name="name" type="text" class="form-control" id="name" placeholder="Nom">
    </div>
    <div class="col form-group">
      <select [(ngModel)]="object.state" name="state" class="form-control" id="state">
        <option value="O">A Livrer</option>
        <option value="1">En cours</option>
        <option value="2">Finaliser</option>
      </select>
    </div>
    <button class="btn btn-primary" (click)="addElement()">Ajouter</button>
  </div>
  <p>Data-binding : {{object | json}}</p>
  <!--</form>-->
  <hr/>

<!--liste-->
  <div class="row">
    <div class="col-md-8">

      <div class="container" *ngFor="let item of collection">
        <h4>Réf : {{item.reference}}</h4>
        <h5>Nom : {{item.name}}</h5>

        <!--<a href (click)="getDetails($event)">Détails</a>-->
        <button type="button" class="btn btn-default" (click)="getDetails(item)">Détails</button>

        <p class="state-0" *ngIf="item.state==0"><i class="fa fa-circle" aria-hidden="true"></i> En attente</p>
        <p class="state-1" *ngIf="item.state==1"><i class="fa fa-circle" aria-hidden="true"></i> En cours</p>
        <p class="state-2" *ngIf="item.state==2"><i class="fa fa-circle" aria-hidden="true"></i> Finaliser</p>
        <hr />
      </div>
    </div>

    <div class="col-md-4">
        <div *ngIf="item">
            <h4>{{item.reference}}</h4>
            <h5>{{item.name}}</h5>
          <button type="button" class="btn btn-danger" (click)="closeItem()">close</button>
          <!--() => Du template vers le composant / [] => Du composant vers le template / ([]) => Combine les deux -->
        </div>
    </div>
  </div>
</div>


