<div class="container">
    <form #modelForm="ngForm" class="form">
        <h4>Ajouter une commande</h4>
        <div class="form-group">
            <input [(ngModel)]="model.reference" name="reference" minlength="5" required #reference="ngModel"
                   placeholder="Référence" class="form-control">
            <div class="alert alert-danger" [hidden]="reference.valid || reference.pristine || !model.reference">Champ
                non valide
            </div>
        </div>
        <div class="form-group">
            <input [(ngModel)]="model.name" name="name" required class="form-control" placeholder="Nom">
        </div>
        <div class="form-group">
            <select [(ngModel)]="model.state" name="state" required class="form-control">
                <option value="0">A Livrer</option>
                <option value="1">En cours</option>
                <option value="2">Livrée</option>
            </select>
        </div>
        <button [disabled]="!modelForm.form.valid" (click)="createModel()" class="btn btn-primary">Ajouter</button>
    </form>
    <hr/>
</div>