<div class="container">
    <div class="row">
        <my-title [title]="title" [version]="version"></my-title>
    </div>
    <div class="row">
        <item-form></item-form>
    </div>
    <div class="row">
        <div class="col">
    <h4>Liste des commandes :</h4>
    </div>
    <div class="col">
        Filtrer la liste : <input #listFilter (keyup)="0"/>
    </div>
    </div>
    <div *ngFor="let list of collection | itemFilter:listFilter.value"><hr/>
        <app-list [model]="list"></app-list>
    </div>
</div>
