<ul class="list-group">
    <li class="list-group-item"><h4>Référence : {{model.reference}}</h4></li>
    <li class="list-group-item"><h5>Nom : {{model.name}}</h5></li>
    <li class="list-group-item"><h5>Statut : {{model.state}}</h5></li>
</ul>
