<div class="container">
    <div class="row">
        <my-title [title]="title"></my-title>
    </div>
    <div class="row">
        <item-form (onCreateModel)="onCreateModel($event)"></item-form>
    </div>
    <div class="row">
        <div class="col">
    <h4>Liste des commandes :</h4>
    </div>
    <div class="col">
        Filtrer la liste : <input #listFilter (keyup)="0"/>
    </div>
    </div>
    <div *ngFor="let list of collection | itemFilter:listFilter.value"><hr/>
        <app-list [model]="list"></app-list>
    </div>
</div>

<!--<div *ngFor="let model of collection | itemFilter:listFilter.value">-->
    <!--<item-form [model]="model" (onGetDetails)="onGetDetails($event)"></item-form>-->
<!--</div>-->
